body {
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: sans-serif;
    font-size: 23px;
}
.container {
    width: 720px;
    margin: 0 auto;
    min-height: 720px;
    background-image: url(fotoalbums.jpg);
    color: white;
    padding-top: 0px;
}
.artist {
    background-color: rgba(255, 0, 0, 0.7);
    width: 200px;
    cursor: pointer;
}
#cudi {
    margin-left: 0px;
    padding-top: 285px;
    padding-left: 160px;
    padding-bottom: 17px;

}
h3, p {
    margin: 0;
    padding: 0;
}
.naam {
    border-left: solid 9px red;
    padding-left: 9px;
}